.primary-color {
    color: #1f3948
}

.bg-primary {
    background-color: #1f3948
}

.primary-btn {
    background-color: #1f3948
}

.primary-btn:hover {
    background-color: #1f3948 !important;
    color: white !important;
    border-color: #1f3948 !important;
}

.mainBackgroudColor {
    background-color: #1F4936 !important;
}

.secondaryBackgroudColor {
    background-color: #3352de !important;
}

.largeFont {
    font-size: 32px !important;
}

.mediumFont {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.smallFont {
    font-size: 12px !important;
    font-weight: 200 !important;
}

.wrapperContent {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

/* .custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-thead>tr>th.ant-table-column-sort {
    background-color: #1F4936 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.custom-table .ant-table-column-sorter-up.active,
.custom-table .ant-table-column-sorter-down.active {
    color: #fff !important;
}

.custom-table .ant-table-column-sorter-up,
.custom-table .ant-table-column-sorter-down {
    color: rgba(255, 255, 255, 0.5);
}

.custom-table .ant-table-column-sort {
    background-color: transparent !important;
} */
/* Default Header */
.custom-table .ant-table-thead>tr>th {
    background-color: #090137 !important;
    color: #fff !important;
    font-weight: bold !important;
}

/* Header saat sorting aktif */
.custom-table .ant-table-thead>tr>th.ant-table-column-has-sorters,
.custom-table .ant-table-thead>tr>th.ant-table-column-sort,
.custom-table .ant-table-thead>tr>th.ant-table-column-sort-active {
    background-color: #090137 !important;
    color: #fff !important;
}

/* Sort icon (panah) */
.custom-table .ant-table-column-sorter-up,
.custom-table .ant-table-column-sorter-down {
    color: rgba(255, 255, 255, 0.5) !important;
}

/* Sort icon aktif */
.custom-table .ant-table-column-sorter-up.active,
.custom-table .ant-table-column-sorter-down.active {
    color: #fff !important;
}

.tableSetUp {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: 400;
    color: black;
}

.row-off {
    background-color: #fff1f0 !important;
    color: #cf1322;
  }

/* End Table Main Css */

/* Hide second panel in RangePicker */

